!!! 5
html(lang="ja")
  head
    meta(charset="utf-8")
    title flowtime-slide-base
    link(rel="stylesheet",href="./bower_components/flowtime.js/assets/css/reset.css")
    link(rel="stylesheet",href="./bower_components/flowtime.js/css/flowtime.css")
    link(rel="stylesheet",href="./bower_components/flowtime.js/css/themes/default.css")
    link(rel="stylesheet",href="./bower_components/flowtime.js/assets/css/prism.css")
    link(rel="stylesheet",href="./index.css")
  body
    .flowtime
      .ft-section
        .ft-page
          h1 Hello, World!
    script(src="./bower_components/flowtime.js/js/brav1toolbox.js")
    script(src="./bower_components/flowtime.js/js/flowtime.min.js")
    script(src="./bower_components/flowtime.js/assets/js/prism.js")
    script(src="./index.js")
